body {
    font-family: "roboto", "Pretendard", sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000;
    font-size: 14px;
    -webkit-font-smooth: antialiased;
    text-rendering: optimizeLegibility;
}

ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

input {
    appearance: none;
    border: none;
    padding: 0px;
}

select {
    font-family: "roboto", "Pretendard", sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10;
    width: 100%;
    background-color: #fff;



    .header {
        width: 1128px;
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .mobile_menu_bt {
            display: none;
        }

        .mobile_menu_ico {
            display: none;
        }

        .logo_section {
            position: absolute;
            left: -7px;
            top: calc(50% - 15px);
            width: 150px;

            img {
                width: 100%;
            }

        }

        .search_section {
            border-bottom: 1px solid #666;
            display: flex;
            align-items: center;
            width: 356px;
            height: 38px;
            box-sizing: border-box;
            position: relative;

            input {
                width: 90%;
                height: 36px;
                color: #777;
                border: none;
                font-size: 14px;
            }

            img {
                position: absolute;
                right: 2px;
            }


        }

        .my_menu {
            position: absolute;
            font-size: 13px;
            line-height: 13px;
            text-align: right;
            color: #555;
            right: 0px;
            display: flex;

            li {
                padding-right: 10px;
                padding-left: 10px;
                border-right: 1px solid #eee;
            }

            .last_item {
                padding-right: 0;
                border-right: none;

            }
        }
    }

    .main_nav_wrap {
        background-color: #232323;
        width: 100%;

        .main_nav {
            width: 1128px;
            margin: 0 auto;
            color: #fff;
            display: flex;
            justify-content: space-between;
            line-height: 45px;

            .main_menu {
                display: flex;
                gap: 50px;
                box-sizing: border-box;
                font-size: 17px;
                font-weight: 500;
                text-transform: uppercase;

                li.select {
                    border-bottom: 2px solid #fff;
                }

            }

            .sub_menu {
                display: flex;
                gap: 30px;
                font-size: 15px;
                font-weight: 500;

            }
        }
    }
}

.main_title {
    font-size: 26px;
    font-weight: 500;
}

.wrap {
    width: 1128px;
    margin: 0 auto;
}

.main_container {
    margin-top: 140px;

    .main_visual {
        width: 100%;
        height: 500px;
        margin: 0 auto;
        background-image: url("./img/visual.png");
        background-size: 1440px 500px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #ABC2CD;
        display: flex;
        align-items: center;
        position: relative;

        .visual_info {
            width: 1140px;
            margin: 0 auto;

            .visual_text1 {
                font-size: 16px;
                color: #333;
                text-decoration: underline;
            }

            .visual_title {
                margin-top: 10px;
                font-size: 36px;
                font-weight: 600;
                line-height: 46px;
                letter-spacing: -1px;
            }

            .visual_text2 {
                margin-top: 13px;
                font-size: 17px;
                line-height: 25px;
            }

            .visual_bt {
                display: inline-block;
                padding: 0 52px;
                box-sizing: border-box;
                margin-top: 33px;
                line-height: 50px;
                border: 1px solid #000;
                transition-duration: 0.2s;
                font-size: 16px;

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }

        .visual_page {
            width: 100%;
            position: absolute;
            bottom: 40px;
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 20px;

            span {
                width: 13px;
                height: 13px;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 50%;

                &.select {
                    background-color: #fff;
                }
            }

        }
    }

    .main_event {
        width: 1128px;
        margin: 50px auto 0px;
        display: flex;
        gap: 10px;

        .event {
            flex: 1;
            height: 148px;
            padding-left: 30px;
            box-sizing: border-box;
            background-size: cover;
            display: flex;
            align-items: center;

            .event_info {
                .event_title {
                    font-size: 22px;
                    font-weight: 600;
                    letter-spacing: -1px;
                }

                .event_subt {
                    font-size: 14px;
                    color: #333;
                    margin-top: 6px;
                }
            }
        }
    }

    .main_machine {
        width: 1128px;
        margin: 80px auto 0;

        .main_title {
            text-align: center;
        }

        .machine_info {
            margin-top: 30px;
            display: flex;
            gap: 10px;

            .info_cont {
                flex: 1;
                border: 1px solid #ddd;
                box-sizing: border-box;

                .info_img {
                    img {
                        width: 100%;
                        display: block;
                    }
                }

                .info_text {
                    text-align: center;
                    padding: 35px;
                    box-sizing: border-box;

                    .info_title {
                        font-size: 22px;
                        font-weight: 500;
                    }

                    .info_sub {
                        margin-top: 5px;
                        font-size: 16px;
                        color: #383838;

                    }

                    .info_bt {
                        margin-top: 20px;
                        font-size: 14px;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .main_new_coffee {
        background-color: #f8f8f8;
        margin-top: 80px;

        .new_wrap {
            margin: 0 auto;
            width: 1128px;
            height: 420px;
            display: flex;

            .new_info {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 38px;
                box-sizing: border-box;
                width: 360px;
                background-image: url("./img/new_bg.png");

                .new {
                    font-size: 16px;
                    text-decoration: underline;
                    color: #666;
                    text-transform: uppercase;

                }

                .new_title {
                    margin-top: 10px;
                    font-size: 32px;
                    letter-spacing: -2px;
                    font-weight: 400;

                    .bold {
                        font-weight: 500;
                    }

                }

                .new_sub {
                    margin-top: 15px;
                    font-size: 15px;
                    color: #666;

                    .bold {
                        font-weight: 500;
                    }

                }

                .new_bt {
                    margin-top: 35px;
                    text-decoration: underline;


                }
            }

            .new_list {
                padding: 0 40px;
                box-sizing: border-box;
                flex: 1;

                .new_menu {
                    display: flex;
                    gap: 40px;
                    margin-top: 65px;
                    font-size: 20px;
                    color: #616161;

                    .select {
                        font-weight: 700;
                        color: #000;
                        border-bottom: 2px solid #000;
                        box-sizing: border-box;
                    }
                }

                .menu_list {
                    margin-top: 33px;
                    display: flex;
                    gap: 50px;

                    li {
                        flex: 1;
                        text-align: center;

                        .new_cap_img {
                            margin: 0 auto;
                            height: 132px;
                            width: 132px;
                            border-radius: 50%;
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #fff;

                            img {
                                width: 90px;
                            }
                        }

                        .new_cap_desc {
                            padding: 20px 10px 0;
                            box-sizing: border-box;

                            .item_name {
                                font-size: 18px;
                                color: #333;

                            }

                            .new_cap_price {
                                font-size: 20px;
                                font-weight: 500;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .main_machine_ilst {
        width: 1128px;
        margin: 80px auto 0;

        .main_title {
            text-align: center;
            text-transform: uppercase;
        }

        .machine_items {
            ul {
                display: flex;
                gap: 10px;

                li {
                    flex: 1;

                    .machine_img {
                        img {
                            width: 100%;
                        }
                    }

                    .machine_info {
                        text-align: center;

                        .machine_name {
                            font-size: 22px;
                            font-weight: 500;
                            margin-top: 30px;
                        }

                        .machine_desc {
                            margin-top: 10px;
                            font-size: 14px;
                        }

                        .machine_price {
                            font-size: 20px;
                            font-weight: 600;
                            margin-top: 10px;
                            line-height: 32px;

                            .sale {
                                font-size: 18px;
                                text-decoration: line-through;
                                font-weight: 400;
                                color: #888;
                                margin-left: 7px;
                            }
                        }

                        .machine_bt {
                            margin-top: 20px;
                            line-height: 44px;
                            padding: 0 20px;
                            color: #000;
                            background-color: transparent;
                            font-size: 15px;
                            border: 1px solid #000;
                            transition-duration: 0.2s;

                            &:hover {
                                background-color: #000;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

    }

    .main_collabo {
        margin-top: 80px;
        background-color: #f8f8f8;

        .collabo_wrap {
            width: 1128px;
            margin: 0 auto;
            padding: 80px 0;
            box-sizing: border-box;

            .collabo_page {
                margin-top: 40px;
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                gap: 20px;

                span {
                    width: 13px;
                    height: 13px;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 50%;

                    &.select {
                        background-color: #aaa;
                    }
                }

            }

            .main_title {
                text-align: center;
            }

            .collabo_summary {
                margin-top: 9px;
                font-size: 14px;
                text-align: center;
            }

            .collabo_items {
                margin-top: 30px;

                ul {
                    display: flex;
                    gap: 10px;

                    li {
                        flex: 1;

                        .collabo_img {
                            img {
                                width: 100%;
                                display: block;
                            }
                        }

                        .collabo_info {
                            padding: 20px;
                            background-color: #fff;
                            box-sizing: border-box;

                            .collabo_title {
                                font-size: 17px;
                                font-weight: 500;
                            }

                            .collabo_text {
                                font-size: 14px;
                                line-height: 20px;
                                margin-top: 10px;
                                letter-spacing: -0.3px;
                            }

                            .collabo_more {
                                font-size: 13px;
                                margin-top: 15px;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }

    .main_icon_menu {
        width: 1128px;
        margin: 80px auto 0px;

        .icon_menu_items {
            text-align: center;
            display: flex;

            li {
                flex: 1;
                background-repeat: no-repeat;
                background-image: url("./img/icon_menu1.svg");
                background-position: center 24px;

                &.icon2 {
                    background-image: url("./img/icon_menu2.svg");
                    background-position: center 20px;
                }

                &.icon3 {
                    background-image: url("./img/icon_menu3.svg");
                    background-position: center 16px;
                }

                &.icon4 {
                    background-image: url("./img/icon_menu4.svg");
                    background-position: center 25px;
                }

                .menu_info {

                    margin-top: 98px;
                    padding: 20px;
                    box-sizing: border-box;

                    .menu_name {
                        font-size: 16px;
                    }

                    .menu_text {
                        margin-top: 3px;
                        color: #555;
                    }
                }
            }
        }
    }
}

.coffee_container {
    .coffee_visual {
        width: 100%;
        height: 390px;
        background-image: url("./img/visual_coffee.jpg");
        background-size: 1440px 390px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fbece5;

        .visual_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 390px;

            .visual_title {
                font-size: 44px;
                font-weight: 500;
                letter-spacing: -1px;
            }

            .visual_desc {
                font-size: 22px;
                margin-top: 11px;
            }
        }
    }

    .coffee_category_box {

        box-sizing: border-box;
        border-bottom: 1px solid #ccc;

        .wrap {
            ul {
                width: 100%;
                display: flex;

                li {
                    box-sizing: border-box;
                    flex: 1;
                    text-align: center;
                    height: 55px;
                    line-height: 55px;
                    font-size: 18px;
                    font-weight: 500;
                    color: #777;


                    &.select {
                        border-bottom: 1px solid #000;
                        color: #000;
                    }
                }
            }
        }
    }

    .coffee_event {
        .coffee_event_page {
            display: none;
        }

        .event_banner {
            display: flex;
            gap: 10px;
            margin-top: 50px;

            .event {
                flex: 1;
                height: 130px;
                padding-left: 30px;
                box-sizing: border-box;
                background-size: cover;
                display: flex;
                align-items: center;

                .event_info {
                    .event_title {
                        font-size: 22px;
                        font-weight: 600;
                        letter-spacing: -1px;
                    }

                    .event_subt {
                        font-size: 14px;
                        color: #000;
                        margin-top: 6px;
                    }
                }
            }
        }
    }

    .coffee_menu {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .coffee_menu_list {
            display: flex;
            font-size: 16px;
            color: #777;
            font-weight: 400;

            li {
                padding: 0 15px;
                background: url("./img/coffee_menu_list_line.svg") right center no-repeat;
                line-height: 25px;

                &:first-child {
                    padding-left: 0px;
                }

                &:last-child {
                    background: none;
                }

                &.select {
                    color: #000;
                    font-weight: 500;
                }
            }
        }

        .coffee_sort {
            display: flex;
            align-items: center;
            font-size: 15px;
            color: #777;
            gap: 25px;
            line-height: 25px;

            .coffee_filter {
                background: url("./img/ico_filter.svg") right center no-repeat;
                width: 50px;
            }

            .coffee_order {
                select {
                    background: url(./img/down_arrow.svg) no-repeat;
                    background-position: 95% 50%;
                    width: 88px;
                    appearance: none;
                    border: none;
                    padding: 0;
                    color: #777;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }
    }


    .coffee_products {
        margin-top: 40px;

        .coffee_pro_list {
            display: flex;
            gap: 15px;
            margin-bottom: 50px;

            li {
                flex: 1;

                .coffee_pro_img {
                    position: relative;
                    height: 240px;
                    background-color: #f8f8f8;

                    box-sizing: border-box;

                    .img_box {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;

                        img {
                            width: 50%;
                        }
                    }

                    .pro_lable {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        display: flex;
                        gap: 5px;

                        span {
                            color: #fff;
                            font-size: 10px;
                            padding: 0 6px;
                            height: 16px;
                            line-height: 16px;
                            font-weight: 300;
                            text-transform: uppercase;

                            &.best {
                                background-color: #C03636;
                            }

                            &.new {
                                background-color: #D79412
                            }
                        }
                    }

                }

                .coffee_pro_info {
                    padding-top: 15px;
                    box-sizing: border-box;

                    .coffee_feature {
                        display: flex;
                        gap: 3px;

                        span {
                            background-color: #f8f8f8;
                            font-size: 12px;
                            color: #555;
                            line-height: 24px;
                            height: 22px;
                            padding: 0 8px;
                            display: block;
                        }

                    }

                    .coffee_name {
                        font-size: 18px;
                        font-weight: 500;
                        margin-top: 12px;
                    }

                    .coffee_desc {
                        font-size: 15px;
                        color: #333;
                        margin-top: 3px;
                    }

                    .coffee_price {
                        font-size: 15px;
                        margin-top: 15px;

                        .sale {
                            color: #C03636;
                            font-size: 18px;
                        }

                        .final {
                            span {
                                font-size: 18px;
                                font-weight: 500;
                            }
                        }

                        .real {
                            color: #999;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }

    .coffee_page {
        display: flex;
        justify-content: center;

        span {
            display: block;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 16px;
            font-weight: 500;
            color: #888;

            &.select {
                color: #000;
                text-decoration: underline;

            }

            &.prev {
                background-image: url("./img/arrow_left.svg");
                background-repeat: no-repeat;
                background-position: center;
            }

            &.next {
                background-image: url("./img/arrow_right.svg");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

.border_bottom {
    border-bottom: 1px solid #ddd;
}

.line_bottom {
    width: 1128px;
    height: 1px;
    background: #ddd;
    margin: auto;
}

.product_view {
    padding-top: 60px;

    .pro_photo_info {
        display: flex;
        gap: 20px;

        .pro_img_view {
            width: 580px;

            .pro_img_big {
                .pro_img_page {
                    display: none;
                }

                height: 500px;
                background-color: #f8f8f8;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                }
            }

            .pro_thumb_list {
                display: flex;
                gap: 8px;
                margin-top: 15px;

                li {
                    width: 139px;
                    opacity: 30%;

                    img {
                        width: 100%;
                    }

                    &.select {
                        opacity: 100%;
                    }
                }
            }
        }

        .product_detail_info {
            flex: 1;
            position: relative;

            .sns_bt {
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
                gap: 15px;
            }

            .pro_detail_cate {
                font-size: 16px;
                color: #777;

            }

            .pro_detail_tit {
                font-size: 34px;
                font-weight: 500;
                color: #222;
                letter-spacing: -0.5px;
                margin-top: 10px;

            }

            .pro_detail_desc {
                font-size: 16px;
                color: #222;
                margin-top: 10px;
            }

            .pro_detail_price {
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                align-items: end;

                .price_info {
                    font-size: 20px;
                    color: #222;
                    height: 23px;
                    line-height: 23px;

                    .sale {
                        font-size: 27px;
                        font-weight: 400;
                        color: #C03636;
                    }

                    .final {
                        span {
                            font-size: 30px;
                            font-weight: 600;
                        }
                    }

                    .real {
                        text-decoration: line-through;
                        color: #777;
                        font-size: 18px;
                    }

                }

                .unit_price {
                    font-size: 14px;
                    color: #777;
                }
            }

            .capsule_feature_list {
                margin-top: 30px;
                border-top: 2px solid #666;
                border-bottom: 2px solid #666;
                box-sizing: border-box;

                li {
                    font-size: 15px;
                    color: #333;
                    line-height: 60px;
                    height: 60px;
                    display: flex;
                    border-bottom: 1px solid #ddd;

                    &:last-child {
                        border: none;
                    }

                    .feat_title {
                        width: 153px;


                    }

                    .feat_content {
                        flex: 1;

                        .intens {
                            display: flex;
                            height: 100%;
                            align-items: center;
                            gap: 5px;

                            div {
                                border-radius: 50%;
                                background-color: #333;
                                color: #fff;
                                width: 5px;
                                height: 5px;
                            }

                            .select {
                                font-size: 14px;
                                width: 20px;
                                height: 20px;
                                color: #fff;
                                line-height: 20px;
                                text-align: center;
                            }

                            .none {
                                opacity: 30%;
                            }
                        }

                    }
                }

            }

            .pro_detail_total {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                background-color: #f8f8f8;
                padding: 20px;
                box-sizing: border-box;

                .price_calc {
                    display: flex;
                    border: 1px solid #ddd;
                    height: 32px;
                    box-sizing: border-box;
                    background-color: #fff;
                    text-align: center;
                    line-height: 32px;

                    .minus {
                        width: 30px;
                    }

                    .num {
                        width: 40px;
                    }

                    .plus {
                        width: 30px;
                    }

                }

                .total_price {
                    font-size: 20px;
                    color: #222;

                    .strong {
                        font-size: 27px;
                        font-weight: 700;
                        line-height: 31px;
                    }

                }
            }

            .pro_detail_button {
                margin-top: 20px;
                display: flex;
                gap: 5px;

                button {
                    flex: 1;
                    height: 62px;
                    line-height: 62px;
                    border: none;
                    padding: 0px;
                    font-size: 18px;
                    font-weight: 500;
                    background-color: #fff;
                    box-sizing: border-box;
                    text-align: center;
                    font-family: "roboto", "Pretendard", sans-serif;
                }

                .add_cart {
                    border: 1px solid #444;
                }

                .add_order {
                    background-color: #C03636;
                    color: #fff;
                }
            }

            .add_sub_bt {
                margin-top: 25px;
                width: 100%;
                height: 69px;
                line-height: 69px;
                background-color: #D79412;
                color: #fff;
                font-size: 18px;
                text-align: center;

            }
        }
    }

    .tab_box {
        margin-top: 90px;

        .pro_tab_menu {
            display: flex;

            li {
                flex: 1;
                text-align: center;
                line-height: 70px;
                height: 70px;
                color: #777;
                font-size: 18px;
                font-weight: 500;

                &.select {
                    border-bottom: 2px solid #000;
                    color: #000;
                }
            }
        }
    }


    .pro_detail_view {

        .pro_img_overview {

            background-image: url("./img/pro_over_bg2.jpg");
            background-size: 100% 100%;
            background-color: #f3e3d7;

            .overview.wrap {
                height: 600px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 50px;
                box-sizing: border-box;
                position: relative;

                .text_box {
                    width: 100%;

                    .tit_eng {
                        color: #D9AE92;

                        img {
                            width: 150px;
                        }
                    }

                    .pro_tit {
                        font-size: 50px;
                        letter-spacing: -1.5px;

                    }

                    .pro_desc {
                        margin-top: 18px;
                        font-size: 20px;
                        color: #222;
                        line-height: 30px;
                    }

                    .divider {
                        width: 60px;
                        height: 2px;
                        background-color: #222;
                        margin-top: 46px;
                    }

                    .pro_desc2 {
                        margin-top: 46px;
                        font-size: 16px;
                        line-height: 24px;
                        color: #555;
                    }
                }

                .img_box {
                    position: absolute;
                    right: 0px;
                    bottom: -40px;
                    width: 548px;

                    img {
                        width: 100%;
                    }
                }

            }
        }
    }

    .pro_overview {
        // border-bottom: 1px solid #ddd;
        margin-top: 70px;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0px 50px 70px;
        box-sizing: border-box;

        .origin {
            .ori_tit {
                color: #777;
            }

            .ori_txt {
                margin-top: 10px;
            }
        }
    }

    .pro_taste {
        position: relative;
        margin-top: 70px;
        padding: 0 50px;
        box-sizing: border-box;

        .tas_tit {}

        .tas_txt {
            font-size: 18px;
            color: #333;
            margin-top: 10px;
        }

        .tas_list {
            width: 650px;
            margin-top: 38px;
            padding: 50px;
            box-sizing: border-box;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            gap: 30px;

            li {
                display: flex;

                .tas_li_tit {
                    width: 90px;
                    font-size: 16px;
                    color: #333;
                }

                .tas_li_score {
                    flex: 1;
                    display: flex;
                    gap: 2px;
                    align-items: center;

                    span {
                        display: block;
                        flex: 1;
                        background-color: #ccc;
                        height: 3px;

                        &.select {
                            background-color: #000;
                        }
                    }
                }
            }
        }

        .tas_list_txt {
            font-size: 16px;
            color: #333;
            margin-top: 32px;
        }

        .tas_intens {
            position: absolute;
            right: 80px;
            top: calc(50% - 110px);
            width: 220px;
            height: 220px;
            background-color: #8C6449;
            border-radius: 50%;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            background-image: url("./img/taste_bg.png");
            background-size: cover;

            .intens_tit {
                text-transform: uppercase;
                font-size: 24px;
                line-height: 24px;

            }

            .intens_num {
                font-size: 137px;
                font-weight: 700;
                line-height: 105px;
            }
        }

    }

    .pro_recipe {
        background-color: #f8f8f8;

        .wrap {
            margin-top: 70px;
            padding: 70px 50px;
            box-sizing: border-box;

            .recipe_txt {
                font-size: 18px;
                margin-top: 18px;
            }

            .recipe_items {
                display: flex;
                margin-top: 40px;
                gap: 10px;
                line-height: 15px;

                li {
                    flex: 1;
                    height: 377px;
                    background-color: #fff;
                    padding: 20px 20px 43px;
                    box-sizing: border-box;

                    .time_level {
                        display: flex;
                        font-size: 14px;
                        color: #666;
                        gap: 12px;

                        .time {
                            background-image: url("./img/ico_time.svg");
                            background-repeat: no-repeat;
                            background-position: left 0px;
                            padding-left: 19px;
                            box-sizing: border-box;

                            span {
                                background-image: url("./img/line_10.svg");
                                background-repeat: no-repeat;
                                background-position: right center;
                                display: block;


                                padding-right: 12px;
                                box-sizing: border-box;
                            }

                        }

                        .level {
                            background-image: url("./img/ico_star.svg");
                            background-repeat: no-repeat;
                            background-position: left -1px;
                            padding-left: 19px;
                            box-sizing: border-box;
                            padding-right: 10px;

                        }
                    }

                    .recipe_img {
                        height: 250px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            height: 160px;
                        }
                    }

                    .recipe_info {
                        text-align: center;

                        .rec_tit {
                            font-size: 20px;

                        }

                        .rec_desc {
                            font-size: 15px;
                            color: #333;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }

    .pro_recomm_cap {
        padding: 70px 50px;
        box-sizing: border-box;

        .recomm_items {
            margin-top: 30px;
            display: flex;
            gap: 15px;

            li {
                flex: 1;

                .recomm_img {
                    height: 210px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f8f8f8;

                    img {
                        width: 50%;
                        display: block;
                    }
                }

                .recomm_info {
                    padding-top: 15px;
                    box-sizing: border-box;

                    .recomm_tit {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    .recomm_desc {
                        font-size: 15px;
                        color: #333;
                        margin-top: 2px;
                    }

                    .recomm_price {
                        margin-top: 15px;
                        font-size: 15px;
                        letter-spacing: -0.5px;

                        .sale {
                            color: #C03636;
                            font-size: 20px;
                            margin-right: 5px;
                        }

                        .final {
                            font-size: 20px;
                            font-weight: 700;

                            margin-right: 5px;
                        }

                        .real {
                            font-size: 15px;
                            color: #777;
                            text-decoration: line-through;
                        }
                    }
                }
            }

            &.pro_etc {
                li {
                    .recomm_img {
                        img {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
}

.recipe_page {
    display: none;

}
.slide_dot{display: none;}

.footer_container {
    margin-top: 80px;
    border-top: 1px solid #ccc;

    .footer_menu_wrap {
        border-bottom: 1px solid #eee;

        .footer_menu {
            width: 1128px;
            height: 45px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .menu_list {
                display: flex;

                li {
                    padding-left: 15px;
                    padding-right: 15px;
                    border-left: 1px solid #eee;
                    color: #555;
                    line-height: 14px;

                    &:first-child {
                        padding-left: 0px;
                        border: none;
                    }
                }
            }

            .footer_language {


                select {
                    background: url("./img/down_arrow.svg") no-repeat;
                    background-position: 95% 50%;
                    width: 80px;
                    appearance: none;
                    border: none;
                    padding: 3px 5px;
                    color: #666;
                }
            }
        }
    }

    .footer_info {
        width: 1128px;
        margin: 34px auto 100px;
        display: flex;
        gap: 200px;
        justify-content: space-between;

        .company_info {
            flex: 1;

            .footer_logo {
                width: 116px;
                margin-left: -5px;

                img {
                    width: 100%;
                }
            }

            .company_name {
                margin-top: 10px;
                font-size: 14px;
                font-weight: 500;
            }

            ul {
                margin-top: 6px;

                li {

                    line-height: 17px;
                    margin-right: 10px;
                    display: inline-block;
                    font-size: 12px;
                    color: #777;

                }
            }
        }

        .customer_info {
            width: 360px;

            .customer_title {
                font-size: 16px;
                color: #222;
            }

            .customer_phone {
                margin-top: 5px;
                font-size: 26px;
                font-weight: 700;

            }

            .customer_time {
                margin-top: 2px;
                color: #666;
            }

            font-size:12px;

            .customer_menu {
                margin-top: 20px;

                li {
                    display: inline-block;
                    padding-left: 6px;
                    padding-right: 6px;
                    color: #555;
                    line-height: 13px;
                    font-size: 13px;
                    border-left: 1px solid #eee;

                    &:first-child {
                        padding-left: 0px;
                        border-left: 0;
                    }
                }
            }
        }
    }
}